NAUKRI_EMAIL=example@gmail.com
NAUKRI_EMAIL_PASSWORD=example

HIRIST_EMAIL=example@gmail.com
HIRIST_PASSWORD=example

LINKEDIN_EMAIL=example@gmail.com
LINKEDIN_PASSWORD=example

GEMINI_API_KEY= YOUR_GEMINI_API
